<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trabajo Practico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <h3><center>Respuestas</center></h3>
      <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Path</th>
          <th scope="col">Entrada</th>
          <th scope="col">Salida Esperada</th>
          <th scope="col">Salida Obtenida</th>
          <th scope="col">Observacion</th>
        </tr>
      </thead>
      <tbody>
          <!-- Generacion -->
      </tbody>
      </table>
    </div>
  </body>
</html>
